@model IEnumerable<Restaurant.Models.UOM_VM>

@{
    ViewData["Title"] = "UOMList";
}

<h1>UOMList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UOMid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UOMname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UOMid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UOMname)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@

                <a asp-controller="UOM" asp-action="editUOM" asp-route-uomid="@item.UOMid">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>
