@model IEnumerable<Restaurant.Models.CategoryVM>

@{
    ViewData["Title"] = "CategoryList";
}

<h1>CategoryList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryname)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
 <a asp-controller="Category" asp-action="editcategory" asp-route-categoryid="@item.categoryid">Edit</a>

            </td>
        </tr>
}
    </tbody>
</table>
