@model IEnumerable<Restaurant.Models.CategoryVM>

@{
    ViewData["Title"] = "getallcategories";
}

<h1>getallcategories</h1>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: px;
    }

    tr:nth-child(even) {
        background-color: #cc9999;
    }
    
</style>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.categoryid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.categoryid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryname)
            </td>
            <td>
                <a asp-controller="Category" asp-action="editcategory" asp-route-categoryid="@item.categoryid">Edit</a>

            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <ul class="pagination justify-content-center">
        @for (var i = 1; i <= ViewBag.TotalPages; i++)
        {
<li style="background-color:#ffbb99" class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
    <a asp-controller="Category" asp-action="getallcategories" asp-route-CurrentPage="@i" class="page-link">@i</a>
</li>}
    </ul>
</div>
